*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 180px auto 254px;
  grid-template-rows: 210px 350px auto;
  margin: 0px;
}

.side-nav {
  background-color: #354051;
  color: #9ba6b8;
  grid-row: 1 / span 3;
}

.user-img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
}

.icon {
  width: 14px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.dropbtn {
  border: none;
  background-color: #354051;
  color: inherit;
  font-size: 16px;
  width: 130px;
  position: relative;
  right: 12px;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #30394a;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-content a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
  background-color: #ddd;
  color: black;
}

.user-dropdown:hover .drop-content {
  display: block;
}

.user-dropdown:hover .dropbtn {
  background-color: #19a2fa;
  color: #eff1f2;
}

ul {
  padding: 0;
}

.arrow {
  margin-right: 0px;
  width: 10px;
  position: relative;
  left: 6px;
  top: 1px;
}

h5 {
  color: #586578;
  font-weight: 400;
  margin: 0;
}

h4 {
  display: inline;
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 75%;
}

li {
  list-style: none;
  margin: 0px;
  padding: 8px 0px 8px 16px;
  
}

a {
  color: inherit;
  text-decoration: none;
}

.side-link-box:hover {
  background-color: #30394a;
  border-left: solid #19a2fa 2px;
  color: #eff1f2;
}

.user-nav {
  padding: 20px 30px;
}

.categories-nav label {
  font-size: 75%;
  font-weight: 600;
}

.categories-nav input {
  margin-right: 10px;
}

.user-nav,
.main-nav,
.admin-nav {
  border-bottom: solid 2px #2f384b;
}

.check-container {
  position: relative;
  padding-left: 24px;
  margin-bottom: 16px;
  cursor: pointer;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check-box {
  position: absolute;
  top: 1px;
  left: 0px;
  height: 13px;
  width: 13px;
}

.check1 {
  background-color: #fae203;
}

.check2 {
  background-color: #2ab0fb;
}

.check3 {
  background-color: #e11b5f;
}

.check4 {
  background-color: #00ad89;
}

.check-container:hover input ~ .check-box {
  background-color: #eff1f2;
}

.check-box:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .check-box:after {
  display: block;
}

.check-container .check-box:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top-box {
  grid-column-start: 2;
  grid-column-end: 4;
  color: #8a8d99;
}

i {
  border-bottom: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  height: 60px;
  display: flex;
  justify-content: center;
}

.no-border-left {
  border-left: none;
}

i img {
  margin-top: 16px;
}

.search-input-row {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr 1fr
}

.search-input-row a:hover {
  background-color: #19a2fa;
}

i input {
  width: 100%;
  border-style: none;
  font-size: 16px;
  padding-left: 14px;
}

.tiny {
  height: 10px;
  width: 10px;
  position: relative;
  top: 10px;
  left: 3px;
}

.big {
  width: 24px;
  height: 24px;
  margin-right: 0;
}

.adjust {
  position: relative;
  right: 10px;
}

.title-box {
  margin: 30px 26px;
  display: inline-block;
}

h1 {
  color: #717175;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

sub a {
  color: #84cdf5;
}

sub a:hover {
  color: #751ea8;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  height: 30px;
}

.circle-button {
  border-radius: 50%;
  margin-right: 10px; 
  width: 30px;
  height: 30px;
}

.dot {
  margin-right: 5px;
}

.long {
  border-radius: 25px;
  width: 80px;
  height: 30px;
  margin-right: 10px;
  color: #717175;
  font-weight: 600;
}

.title-buttons span {
  position: relative;
  bottom: 1px;
}

.title-buttons button:hover {
  background-color: #19a2fa;
  color: #eff1f2;
  cursor: pointer;
}

.header-nav {
  padding-left: 10px;
  position: relative;
  bottom: 13px;
}

.header-nav li {
  display: inline-block;
  padding: 0px 16px 5px 16px;
}

.header-nav li:hover h4 {
  border-bottom: solid #19a2fa 3px;
  color: #696970;
  padding-bottom: 5px;
}

.figures,
.table-area,
.aside-nav {
  background-color: #edf2f6;
}

.figures {
  border-top: solid #dce1e6 1px;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
}

.figure-box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.figure-box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.chart-container1 {
  width: 500px;
  height: 200px;
  border: solid black 1px;
}

.chart-container2 {
  width: 450px;
  height: 200px;
  border: solid black 1px;
}

.figures button {
  border-radius: 25px;
  color: #8a8d99;
  font-weight: 800;
  height: 30px;
  width: 220px;
}

.display-top-btn {
  display: flex;
  position: absolute;
  top: 83.5%;
  left: 50%;
  width: 0;
}

.display-top-btn:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: solid #dce1e6 1px;
  padding: 10px;
}

.figures button:hover {
  background-color: #19a2fa;
  color: #eff1f2;
  cursor: pointer;
}

table {
  background-color: #FFFFFF;
  color: #9fa9b3;
  margin: 40px;
}

.table-top-row {
  background-color: #6e7e95;
  color: #e3eef2;
}

.center-th {
  vertical-align: middle;
  padding-bottom: 20px;
}

.table-top-row td {
  padding-bottom: 20px;
}

.edit-btn {
  background-color: #7c8aa5;
  border-style: none;
  color: #e3eef2;
  font-weight: bold;
  padding: 6px 10px;
  text-transform: uppercase;
}

.edit-btn:hover {
  background-color: #30394a;
  color: #eff1f2;
  cursor: pointer;
}

td .icon {
  margin-right: 4px;
}

td button span {
  position: relative;
  bottom: 1px;
}

table th {
  width: 150px;
  text-transform: uppercase;
  font-size: 75%;
  padding: 20px 0px 0px 16px;
  text-align: left; 
  font-weight: 700;
  vertical-align: top;
}

.th-adjust {
  position: relative;
  top: 7px;
}

table td {
  font-size: 75%;
  font-weight: 600;
  padding: 20px 16px 0px 0px;
}

table {
  margin-bottom: 40px;
}

.hire-img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.hire-lead {
  position: relative;
  bottom: 9px;
}

.salary {
  font-weight: 800;
}

.table-bot {
  padding-bottom: 30px;
}

.social-btn {
  height: 40px;
  margin: 10px 0px;
  width: 90%;
  text-align: left;
}

.social-btn:hover {
  border: solid #354051 2px;
  cursor: pointer;
}

.aside-nav button img {
  margin-left: 10px;
  margin-right: 44px;
}

.facebook {
  margin-top: 40px;
  background-color: #3f51b5;
  color: #d6eefb;
}

.aside-nav span {
  font-weight: 600;
  position: relative;
  bottom: 1px;
}

.facebook span {
  position: relative;
  bottom: 4px;
}

.tall {
  height: 20px;
}

.twitter {
  background-color: #01a8ef;
  color: #d6eefb;
}

.linkedin {
  background-color: #007dbc;
  color: #d6eefb;
}

.aside-field {
  width: 90%;
}

.table-border:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: solid #dce1e6 1px;
  padding: 10px;
}

.border-adjust-fat:after {
  padding: 27px;
}

.border-adjust-slight:after {
  padding: 15px;
}

/*.border-bot {
  border-bottom: solid #dce1e6 1px;
}*/

.aside-head {
  color: #747c87;
  font-size: 98%;
  margin-bottom: 10px;
}

.aside-nav p {
  color: #9fa9b3;
  font-size: 70%;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 14px;
}

.aside-nav input {
  height: 36px;
  margin-bottom: 20px;
}

.copy-btn  {
  color: #eff1f2;
  display: inline-block;
  width: 18%;
  margin: 0;
  height: 34px;
  border-style: none;
  background-color: #4abcc3;
  position: relative;
  right: 5px;
}

.copy-btn:hover {
  border: solid #354051 1px;
  cursor: pointer;
}

.link-input {
  width: 80%;
  text-indent: 4px;
}

.email-input {
  width: 100%;
  text-indent: 4px;
}