*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.user-img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
}

.icon {
  width: 14px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

ul {
  padding: 0;
}

h5 {
  color: #586578;
  padding: 0;
  margin: 0;
}

h4 {
  display: inline;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 75%;
}

.side-link-box {
}

li {
  list-style: none;
  margin: 0px;
  padding: 8px 0px 8px 16px;
  
}

.side-nav {
  background-color: #354051;
}

a {
  color: inherit;
  text-decoration: none;
}

.side-link-box:hover {
  background-color: #30394a;
  color: #eff1f2;
}

.user-nav {
  padding: 20px 30px;
}

.categories-nav label {
  font-size: 75%;
  font-weight: 600;
}

.categories-nav input {
  margin-right: 10px;
}

.user-nav,
.main-nav,
.admin-nav {
  border-bottom: solid 2px #2f384b;
}


.arrow {
  margin-right: 0px;
  position: relative;
  left: 6px;
  top: 3px;
}

i {
  border-bottom: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  height: 60px;
  display: flex;
  justify-content: center;
}

i img {
  margin-top: 16px;
}

.search-input-row {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr 1fr
}

i input {
  width: 100%;
  border-style: none;
  font-size: 16px;
  padding-left: 14px;
}

.tiny {
  position: relative;
  top: -5px;
  left: 3px;
  width: 10px;
}

.big {
  width: 24px;
  margin-right: 0;
}

.adjust {
  position: relative;
  right: 10px;
}

.title-box {
  margin: 30px 26px;
  display: inline-block;
}

h1 {
  color: #717175;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

sub a {
  color: #84cdf5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  height: 30px;
}

.circle-button {
  border-radius: 50%;
  margin-right: 10px; 
  width: 30px;
}

.dot {
  position: relative;
  width: 12px;
}

.long {
  border-radius: 25px;
  width: 70px;
  margin-right: 10px;
}

.header-nav {
  padding-left: 10px;
}

.header-nav li {
  display: inline-block;
  padding: 0px 16px 5px 16px;
}

.header-nav li:hover {
  border-bottom: solid #19a2fa 3px;
  color: #696970;
}

.grid-item3,
.grid-item4,
.grid-item5 {
  background-color: #edf2f6;
}

.chart-container1 {
  width: 500px;
  height: 200px;
  border: solid black 1px;
}

.chart-container2 {
  width: 450px;
  height: 200px;
  border: solid black 1px;
}

table {
  background-color: #FFFFFF;
  color: #9fa9b3;
  margin: 10px 40px;

}

.table-top-row {
  background-color: #6e7e95;
  color: #e3eef2;
}

td button {
  background-color: #7c8aa5;
  border-style: none;
  color: #e3eef2;
  font-weight: bold;
  padding: 6px 8px;
  margin: 10px;
  text-transform: uppercase;
}

table th {
  border: none;
  width: 150px;
  text-transform: uppercase;
  font-size: 75%;
  padding: 20px 0px 20px 16px;
  text-align: left; 
  font-weight: 700;
  vertical-align: top;
  border-bottom: 
}

table td {
  font-size: 75%;
  margin: 8px 6px;
}

.hire-img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.hire-lead {
  position: relative;
  bottom: 10px;
}

.salary {
  font-weight: 900;
}

.grid-item5 button {
  height: 40px;
  margin: 10px 0px;
  width: 90%;
  text-align: left;
}

.grid-item5 button img {
  margin-left: 10px;
  margin-right: 44px;
}

.facebook {
  background-color: #3f51b5;
  color: #d6eefb;
}

.grid-item5 span {
  position: relative;
  bottom: 1px;
}

.facebook span {
  position: relative;
  bottom: 4px;
}

.tall {
  height: 20px;
}

.twitter {
  background-color: #01a8ef;
  color: #d6eefb;
}

.linkedin {
  background-color: #007dbc;
  color: #d6eefb;
}

.aside-field {
  width: 90%;
}

.border-bot {
  border-bottom: solid #dce1e6 1px;
}

.aside-head {
  color: #747c87;
  font-size: 98%;
  margin-bottom: 10px;
}

.grid-item5 p {
  color: #9fa9b3;
  font-size: 70%;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 14px;
}

.grid-item5 input {
  height: 36px;
  margin-bottom: 20px;
}

.link-input {
  width: 80%;
}

.email-input {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 180px auto 254px;
  grid-template-rows: 210px 350px auto
}

.grid-item1 {
  color: #9ba6b8;
  grid-row: 1 / span 3;
}

.grid-item2 {
  grid-column-start: 2;
  grid-column-end: 4;
  color: #8a8d99;
}


.grid-item3 {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;

}

.grid-item4 {}

.grid-item5 {
}